{% load static %}<!DOCTYPE html>

{%load i18n%}
<html>
	<head>
	<div id="language-select2">
      <table>
        <tr>
          Select Language:
        </tr>
        <tr>
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select class="selectpicker" name="{% trans 'language' %}" style="width: auto;" onchange="this.form.submit()">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                      <option
                        value="{{ language.code }}"
                        {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}

                        <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                          {{ language.name_local }}
                          <!-- span style="color:#999;">[{{ language.code }}]</span -->
                        </span>>
                        {{ language.name }}
                      </option>
                  {% endfor %}
                </select>
            </form>
          </tr>
   </div>
		<title>{%blocktrans%}Ireland Travel Agency{%endblocktrans%}</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>


	<body>
		
		<header>
			<h1>{%blocktrans%}TRAVEL IRELAND{%endblocktrans%}</h1>
			
			<canvas id="canvas" width="800" height="100" style="background-color: rgba(0, 0, 0, 0.1);">
			</canvas>

			<script>
				var c = document.getElementById("canvas");
				var ctx = c.getContext("2d");
				ctx.fillStyle = "#ffffff";
				ctx.font = "40px Georgia";
				ctx.fillText("Travel",87,55);
				ctx.fillText("Your Way",150,90);
				ctx.fillStyle = "#FFFFFF";
				ctx.font = "25px Microsoft YaHei UI Light";
				ctx.fillText("-The republic of Ireland",590,90);
			</script>
		</header>

		<ul class="nav">	
		<li><a href="{% url 'about' %}">About</a></li>

		<li><a href="{% url 'transport' %}">Transport</a></li>
		</ul>

	</body>
</html>